@font-face {
	font-family: 'Metropolis1920';
	src: url('../fonts/Metropolis1920-Regular.eot');
	src: url('../fonts/Metropolis1920-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Metropolis1920-Regular.svg#Metropolis1920-Regular') format('svg'),
		 url('../fonts/Metropolis1920-Regular.ttf') format('truetype'),
		 url('../fonts/Metropolis1920-Regular.woff') format('woff'),
		 url('../fonts/Metropolis1920-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}